@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
@import 'tailwindcss';

@theme {
  --color-primary: #7545F8;
  --color-primary-dull: #5838D6;
}

*{
  font-family: 'Figtree', sans-serif;
}

body {
  color: #FFF;
  background-color: #09090B;
}

.no-scrollbar {
  scrollbar-width: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
}
